{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Transaction details" %}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Transaction details" %}</h1>
      {% include "transactions/includes/transaction_detail_table.html" %}
      <a class="btn btn-primary" href="{% url 'transactions:update' transaction.pk %}" role="button">
        <i class="fa fa-pencil"></i> {% trans "Edit" context "verb" %}
      </a>
      <a class="btn btn-danger" href="{% url 'transactions:delete' transaction.pk %}" role="button">
        <i class="fa fa-trash"></i> {% trans "Delete" context "verb" %}
      </a>
    </div>
  </div>
</main>
{% endblock %}
