{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Add transaction" %}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.type %}
          </div>
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.amount %}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.account %}
          </div>
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.category %}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            {% include 'contuga/forms/field.html' with field=form.tags %}
          </div>
        </div>
        {% include 'contuga/forms/field.html' with field=form.description %}
        {% include 'contuga/forms/field.html' with field=form.receipt %}

        <button type="submit" class="btn btn-primary">
          {% trans "Save" context "verb" %}
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    jQuery(function($) {
      const category_groups = {{ category_choices|safe }};
      const $categoryField = $("#id_category");

      $("#id_type").on("change", function() {
        $categoryField.empty()
        $categoryField.append(
          $("<option></option>")
            .text("{{ form.fields.category.empty_label }}")
            .attr("value", "")
            .attr("selected", "")
        )

        const categories = category_groups[$(this).val()];
        for (category of categories) {
          $categoryField.append(
            $("<option></option>")
              .text(category.name)
              .attr("value", category.id)
              .attr("selected", category.selected)
          );
        }
      });

      const input = document.querySelector('[name=tags]')
      const tagify = new Tagify(input, {whitelist:[]})
      let controller

      tagify.on('input', onInput)

      function onInput(e) {
        var value = e.detail.value;
        tagify.settings.whitelist.length = 0

        // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
        controller && controller.abort()
        controller = new AbortController()

        tagify.loading(true).dropdown.hide.call(tagify)

        fetch(`{% url 'tag-list' %}?name__startswith=${value}`, {signal:controller.signal})
          .then(RES => RES.json())
          .then(function(response){
            const whitelist = response.results.map(tag => tag.name)
            tagify.settings.whitelist.splice(0, whitelist.length, ...whitelist)
            tagify.loading(false).dropdown.show.call(tagify, value)
          })
      }
    });
  </script>
{% endblock %}
