{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Add transaction" %}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.type %}
          </div>
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.amount %}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.account %}
          </div>
          <div class="col-12 col-md-6">
            {% include 'contuga/forms/field.html' with field=form.category %}
          </div>
        </div>
        {% include 'contuga/forms/field.html' with field=form.description %}
        <button type="submit" class="btn btn-primary">
          {% trans "Save" context "verb" %}
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    jQuery(function($) {
      var category_groups = {{ category_choices|safe }};
      var $categoryField = $("#id_category");

      $("#id_type").on("change", function() {
        $categoryField.empty()
        $categoryField.append(
          $("<option></option>")
            .text("{{ form.fields.category.empty_label }}")
            .attr("value", "")
            .attr("selected", "")
        )

        var categories = category_groups[$(this).val()];
        categories.forEach(function(category) {
          $categoryField.append(
            $("<option></option>")
              .text(category.name)
              .attr("value", category.id)
              .attr("selected", category.selected)
          );
        });
      });
    });
  </script>
{% endblock %}
