{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Transaction details" %}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Transaction details" %}</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">{% trans "Amount" %}</th>
            <td>{{ transaction.amount }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ transaction.get_type_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Category" %}</th>
            <td>{{ transaction.category.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Created at" %}</th>
            <td>{{ transaction.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Updated at" %}</th>
            <td>{{ transaction.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ transaction.description }}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'transactions:update' transaction.pk %}" role="button">
        <i class="fa fa-pencil"></i> {% trans "Edit" %}
      </a>
      <a class="btn btn-danger" href="{% url 'transactions:delete' transaction.pk %}" role="button">
        <i class="fa fa-trash"></i> {% trans "Delete" %}
      </a>
    </div>
  </div>
</main>
{% endblock %}
