{% extends "base/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Transactions" %}{% endblock %}

{% block content %}
<main class="container list-page">
  <div class="row" id="actionGroup">
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-action" type="button" data-toggle="collapse" data-target="#createFormContainer">
          <i class="fa fa-plus"></i>
          <span class="d-none d-sm-inline">{% trans "Add new" %}</span>
        </button>
        <button class="btn btn-dark btn-action" type="button" data-toggle="collapse" data-target="#exportFormContainer">
          <i class="fa fa-download"></i>
          <span class="d-none d-sm-inline">{% trans "Export" %}</span>
        </button>
        <button class="btn btn-dark btn-action" type="button" data-toggle="collapse" data-target="#filterFormContainer">
          <i class="fa fa-filter"></i>
          <span class="d-none d-sm-inline">{% trans "Filters" %}</span>
        </button>
      </div>
      {% include "transactions/includes/transaction_create_form.html" with form=create_form %}
      {% include "transactions/includes/transaction_export_form.html" %}
      {% include "transactions/includes/transaction_filter_form.html" %}
    </div>
  </div>

  {% include "transactions/includes/transaction_list.html" %}
  {% include "transactions/includes/transaction_filter_statistics.html" %}
</main>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    jQuery(function($) {
      const today = moment();
      const dateRangePickerConfig = {
        autoUpdateInput: false,
        showDropdowns: true,
        ranges: {
          '{% trans "Today" %}': [today, today],
          '{% trans "Yesterday" %}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          '{% trans "Last 7 Days" %}': [moment().subtract(6, 'days'), today],
          '{% trans "Last 30 Days" %}': [moment().subtract(29, 'days'), today],
          '{% trans "This Month" %}': [moment().startOf('month'), moment().endOf('month')],
          '{% trans "Last Month" %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        linkedCalendars: false,
        alwaysShowCalendars: true,
        maxDate: today,
        opens: "left",
        locale: {
          format: 'L',
          applyLabel: '{% trans "Apply" %}',
          cancelLabel: '{% trans "Clear" %}',
          fromLabel: '{% trans "From" %}',
          toLabel: '{% trans "To" %}',
          customRangeLabel: '{% trans "Custom" %}',
          daysOfWeek: [
            '{% trans "Su" context "Day of the week" %}',
            '{% trans "Mo" context "Day of the week" %}',
            '{% trans "Tu" context "Day of the week" %}',
            '{% trans "We" context "Day of the week" %}',
            '{% trans "Th" context "Day of the week" %}',
            '{% trans "Fr" context "Day of the week" %}',
            '{% trans "Sa" context "Day of the week" %}'
          ],
          monthNames: [
            '{% trans "January" %}',
            '{% trans "February" %}',
            '{% trans "March" %}',
            '{% trans "April" %}',
            '{% trans "May" %}',
            '{% trans "June" %}',
            '{% trans "July" %}',
            '{% trans "August" %}',
            '{% trans "September" %}',
            '{% trans "October" %}',
            '{% trans "November" %}',
            '{% trans "December" %}'
          ],
          firstDay: 1
        }
      };

      $('#id_created_at, #id_updated_at').on('apply.daterangepicker', function(event, picker) {
        const startDate = picker.startDate.format(dateRangePickerConfig.locale.format);
        const endDate = picker.endDate.format(dateRangePickerConfig.locale.format);
        $(this).val(`${startDate} - ${endDate}`);
      });

      $('#id_created_at, #id_updated_at').on('cancel.daterangepicker', function(event, picker) {
        $(this).val('');
      });

      $('#id_created_at').daterangepicker(dateRangePickerConfig);
      $('#id_updated_at').daterangepicker(dateRangePickerConfig);

      $("#filterForm").on('submit', function(event){
        $(this).find(":input").filter(function() {
          return !this.value;
        }).attr("disabled", "disabled");

        return true;
      });
    });

    jQuery(function($) {
      const category_groups = {{ category_choices|safe }};
      const $categoryField = $("#id_category");

      $("#id_type").on("change", function() {
        $categoryField.empty()
        $categoryField.append(
          $("<option></option>")
            .text("{{ form.fields.category.empty_label }}")
            .attr("value", "")
            .attr("selected", "")
        )

        const categories = category_groups[$(this).val()];
        for (category of categories) {
          $categoryField.append(
            $("<option></option>")
              .text(category.name)
              .attr("value", category.id)
              .attr("selected", category.selected)
          );
        }
      });

      const input = document.querySelector('[name=tags]')
      const tagify = new Tagify(input, {whitelist:[]})
      let controller

      tagify.on('input', onInput)

      function onInput(e) {
        var value = e.detail.value;
        tagify.settings.whitelist.length = 0

        // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
        controller && controller.abort()
        controller = new AbortController()

        tagify.loading(true).dropdown.hide.call(tagify)

        fetch(`{% url 'tag-list' %}?name__startswith=${value}`, {signal:controller.signal})
          .then(RES => RES.json())
          .then(function(response){
            const whitelist = response.results.map(tag => tag.name)
            tagify.settings.whitelist.splice(0, whitelist.length, ...whitelist)
            tagify.loading(false).dropdown.show.call(tagify, value)
          })
      }
    });
  </script>
{% endblock %}
