{% extends "base/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Transactions" %}{% endblock %}

{% block content %}
<main class="container list-page">
  <div class="row" id="actionGroup">
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#createFormContainer">
          <i class="fa fa-plus"></i>
          <span class="d-none d-sm-inline">{% trans "Add new" context "feminine" %}</span>
        </button>
        <button class="btn btn-dark btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#exportFormContainer">
          <i class="fa fa-download"></i>
          <span class="d-none d-sm-inline">{% trans "Export" %}</span>
        </button>
        <button class="btn btn-dark btn-action" type="button" data-bs-toggle="collapse" data-bs-target="#filterFormContainer">
          <i class="fa fa-filter"></i>
          <span class="d-none d-sm-inline">{% trans "Filters" %}</span>
        </button>
      </div>
      {% include "transactions/includes/transaction_create_form.html" with form=create_form %}
      {% include "transactions/includes/transaction_export_form.html" %}
      {% include "transactions/includes/transaction_filter_form.html" %}
    </div>
  </div>

  {% include "transactions/includes/transaction_list.html" %}
  {% include "transactions/includes/transaction_filter_statistics.html" %}
</main>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
  (function() {
      Flatpickr.l10ns.greek.range separator = " - "
      const flatpickrConfig = {
        mode: "range",
        locale: "bg",
        dateFormat: "m/d/Y",
      }

      flatpickr("#id_created_at", flatpickrConfig);
      flatpickr("#id_updated_at", flatpickrConfig);


      const createFormTagsInput = document.querySelector('#createForm [name=tags]')
      const createFormTags = new Tagify(createFormTagsInput, { whitelist:[] })

      createFormTags.on('input', getInputHandler(createFormTags))

      const filterFormTagsInput = document.querySelector('#filterForm [name=tags]')
      const filterFormTags = new Tagify(filterFormTagsInput, { whitelist:[] })

      filterFormTags.on('input', getInputHandler(filterFormTags))

      function getInputHandler(tagify) {
        let controller

        return (e) => {
          const value = e.detail.value;
          tagify.settings.whitelist.length = 0

          // https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
          controller && controller.abort()
          controller = new AbortController()

          tagify.loading(true).dropdown.hide.call(tagify)

          fetch(`{% url 'tag-list' %}?name__startswith=${value}`, { signal:controller.signal })
            .then(response => response.json())
            .then(function(data){
              const whitelist = data.results.map(tag => tag.name)

              tagify.settings.whitelist.splice(0, whitelist.length, ...whitelist)
              tagify.loading(false).dropdown.show.call(tagify, value)
            })
            .catch(error => null);
        }
      }
    })();

  </script>
{% endblock %}
