{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Transactions" %}</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm" id="transactions">
          <thead>
            <tr>
              <th scope="col" class="d-none d-md-table-cell">#</th>
              <th scope="col">{% trans "Amount" %}</th>
              <th scope="col">{% trans "Type" %}</th>
              <th scope="col">{% trans "Category" %}</th>
              <th scope="col">{% trans "Created at" %}</th>
              <th scope="col" class="d-none d-md-table-cell">{% trans "Description" %}</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in object_list %}
            <tr>
              <th scope="row" class="d-none d-md-table-cell"></th>
              <td>
                <a href="{{ transaction.get_absolute_url }}"
                  class="{% if transaction.is_expenditure %} text-danger {% else %} text-success {% endif %}">
                  {{ transaction.amount }}
                </a>
              </td>
              <td>{{ transaction.get_kind_display }}</td>
              <td><a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category.name }}</a></td>
              <td>{{ transaction.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
              <td class="d-none d-md-table-cell">{{ transaction.description }}</td>
              <td>
                <a href="{% url 'transactions:update' transaction.pk %}"><i class="fa fa-pencil"></i></a>
              </td>
              <td>
                <a href="{% url 'transactions:delete' transaction.pk %}"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
          </li>
          {% endif %}

          {% for page in paginator.page_range %}
          <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </div>
</main>
{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function () {
    var t = $('#transactions').DataTable({
      columnDefs: [
        { "searchable": false, "orderable": false, "targets": [0, 6, 7] },

      ],
      order: [],
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, '{% trans "All" %}']],
      language: {
        // TODO: Add decimal and thousand separators for current locale
        'emptyTable': '{% trans "No data available in table" %}',
        'info': '{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}',
        'infoEmpty': '{% trans "Showing 0 to 0 of 0 entries" %}',
        'infoFiltered': '{% trans "(filtered from _MAX_ total entries)" %}',
        'lengthMenu': '{% trans "Show _MENU_ entries" %}',
        'loadingRecords': '{% trans "Loading" %}...',
        'processing': '{% trans "Processing" %}...',
        'search': '{% trans "Search" %}:',
        'zeroRecords': '{% trans "No matching records found" %}',
        'paginate': {
          'first': '{% trans "First" %}',
          'last': '{% trans "Last" %}',
          'next': '{% trans "Next" %}',
          'previous': '{% trans "Previous" %}'
        },
        'aria': {
          'sortAscending': ': {% trans "activate to sort column ascending" %}',
          'sortDescending': ': {% trans "activate to sort column descending" %}'
        }
      }
    });
    t.on('order.dt search.dt', function () {
      t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();
  });
</script>
{% endblock %}
