{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Categories" %}</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Created at" %}</th>
            <th scope="col" class="d-none d-md-table-cell">{% trans "Description" %}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for category in object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <a href="{{ category.get_absolute_url }}">
                {{ category.name }}
              </a>
            </td>
            <td>{{ category.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td class="d-none d-md-table-cell">{{ category.description }}</td>
            <td>
              <a href="{% url 'categories:update' category.pk %}"><i class="fa fa-pencil"></i></a>
            </td>
            <td>
              <a href="{% url 'categories:delete' category.pk %}"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
          </li>
          {% endif %}

          {% for page in paginator.page_range %}
          <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
