{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Category details" %}</h1>
      {% include "categories/includes/category_detail_table.html" %}
      <a class="btn btn-primary" href="{% url 'categories:update' category.pk %}" role="button">
        <i class="fa fa-pencil"></i> {% trans "Edit" %}
      </a>
      <a class="btn btn-danger" href="{% url 'categories:delete' category.pk %}" role="button">
        <i class="fa fa-trash"></i> {% trans "Delete" %}
      </a>
    </div>
  </div>
</main>
{% endblock %}
