[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
black = "==19.3b0"
pre-commit = "*"
wily = "*"
bandit = "*"
coverage = "*"
isort = "==4.3.*"

[packages]
django = "==2.2.*"
django-pipeline = "==1.6.*"
django-sekizai = "==0.10.*"
django-widget-tweaks = "==1.4.*"
django-registration = "==3.0.*"
django-extensions = "*"
django-anymail = {extras = ["mailjet"],version = "==6.*"}
django-recaptcha = "==2.0.*"
django-split-settings = "==1.0.*"
django-filter = "==2.2.*"
django-import-export = "*"
djangorestframework = "==3.11.*"
markdown = "==3.2.*"
coreapi = "==2.3.*"
python-dateutil = "==2.8.*"
django-parler = "==2.0.*"
django-debug-toolbar = "==2.2.*"

[requires]
python_version = "3.8"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
test = "python manage.py test"
shell = "python manage.py shell_plus --print-sql"

[pipenv]
allow_prereleases = true
