[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
autopep8 = "*"

[packages]
django = "==2.1.*"
django-pipeline = "==1.6.*"
django-sekizai = "==0.10.*"
django-widget-tweaks = "==1.4.*"
django-registration = "==3.0.*"
django-extensions = "*"

[requires]
python_version = "3.7"
