{% load i18n %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Contuga</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            {% trans 'Transactions' %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'transactions:list' %}">
              {% trans 'View all' %}
            </a>
            <a class="dropdown-item" href="{% url 'transactions:create' %}">
              {% trans 'Add new' %}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            {% trans 'Categories' %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'categories:list' %}">
              {% trans 'View all' %}
            </a>
            <a class="dropdown-item" href="{% url 'categories:create' %}">
              {% trans 'Add new' %}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
