{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ user.email }}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Profile</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">{% trans "Email" %}</th>
            <td>{{ user.email }}</td>
          </tr>
          {% if user.get_full_name %}
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ user.get_full_name }}</td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">{% trans "Total transactions" %}</th>
            <td>{{ user.transactions.count }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Total categories" %}</th>
            <td>{{ user.categories.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
