@import '../bootstrap/scss/_functions';
@import '../bootstrap/scss/mixins/breakpoints';
@import '../scss/variables.scss';

@include media-breakpoint-down(sm) {
  .dropdown-item {
    padding: 0.5rem 1.5rem;
  }
}

.btn-action {
  margin: 0.5rem 0 0.5rem 0.5rem;

  &:focus {
    box-shadow: none;
  }
}
