@import "../bootstrap/scss/_functions";
@import "../bootstrap/scss/mixins/breakpoints";
@import "../scss/variables.scss";
@import "../scss/navigation";
@import "../scss/footer";
@import "../scss/home-page";

html,
body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header,
main,
footer {
  flex-shrink: 0;
}

main {
  padding: 3rem 0;
  flex-grow: 1;

  &.analytics-page {
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
}

header {
  color: white;
  padding: 6rem 0;
  text-shadow: 2px 2px black;

  @include media-breakpoint-down(sm) {
    padding: 4rem 0;
  }

  h1 {
    font-size: 4rem;
    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }
}

section {
  padding: 4rem 0;
  &:nth-child(odd) {
    background: $whitesmoke;
  }

  @include media-breakpoint-down(sm) {
    padding: 2rem 0;
    p {
      padding-bottom: 1rem;
    }
  }
}

.navbar-toggler {
  &:focus,
  &:active {
    outline: none;
  }
}

.navbar-dark {
  background-color: $primary;
}

.btn {
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

@include media-breakpoint-down(sm) {
  .table-row {
    > .col-12 {
      padding: 0;
    }
  }
}

.table-responsive {
  .col-12 {
    padding: 0;
  }
}

.table {
  td {
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    .fa-pencil,
    .fa-trash {
      font-size: 1.25rem;
    }
  }
}

.pagination {
  .page-item.active > .page-link {
    background-color: $primary;
    border: 1px solid $primary;
  }
}

.list-page {
  h1 {
    margin-bottom: 1rem;
  }
}

.latest-transactions {
  margin-top: 4rem;
  h2 {
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.802rem;
  }

  h2 {
    font-size: 1.602rem;
  }

  h3 {
    font-size: 1.424rem;
  }

  h4 {
    font-size: 1.266rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  .dropdown-item {
    padding: 0.5rem 1.5rem;
  }
}

.btn-action {
  margin: 0.5rem 0 0.5rem 0.5rem;

  &:focus {
    box-shadow: none;
  }
}
