{% load sekizai_tags pipeline i18n static %}
<html>
  <head>
    <title>Contuga - {% block title %}{% trans "Simple web-based expense manager" %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-touch-icon-57x57.png' %}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-touch-icon-60x60.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-touch-icon-76x76.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-touch-icon-120x120.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-touch-icon-144x144.png' %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-touch-icon-152x152.png' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon-180x180.png' %}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-chrome-192x192.png' %}"/>
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'icons/android-chrome-512x512.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon-16x16.png' %}"/>
    <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#ffffff"/>
    <link rel="manifest" href="{% url 'manifest' %}"/>

    <meta name="msapplication-config" content="{% url 'browserconfig' %}"/>
    <meta charset="UTF-8"/>
    <meta name="description" content="{% trans 'Simple web-based expense manager' %}"/>
    <meta name="keywords" content="{% trans 'expense, income, manager, accounts, money, filter, export' %}"/>
    <meta name="author" content="{% trans 'Hristo Gatsinski' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% stylesheet 'main' %}
    {% block css %} {% endblock css %}
    {% render_block "css" %}
  </head>
  <body>
    {% include "base/includes/header.html" %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% include "base/includes/footer.html" %}

    {% javascript 'main' %}
    {% block js %} {% endblock js %}
    {% render_block "js" %}
  </body>
</html>
