{% load sekizai_tags pipeline %}
<html>
  <head>
    <title>
      {{ page_title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheet 'main' %}
    {% block css %} {% endblock css %}
    {% render_block "css" %}
  </head>
  <body>
    {% include "base/includes/header.html" %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% include "base/includes/footer.html" %}

    {% javascript 'main' %}
    {% block js %} {% endblock js %}
    {% render_block "js" %}
  </body>
</html>
