{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Tags" %}{% endblock %}

{% block content %}
<main class="container list-page">
  <div class="row" id="actionGroup">
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-dark btn-action" type="button" data-toggle="collapse" data-target="#filterFormContainer">
          <i class="fa fa-filter"></i>
          <span class="d-none d-sm-inline">{% trans "Filters" %}</span>
        </button>
      </div>
      <div class="collapse" id="filterFormContainer" data-parent="#actionGroup">
        <form id="filterForm" method="GET">
          <div class="row">
            <div class="col-12 col-md-2">
              {% include 'contuga/forms/field.html' with field=filterset.form.transaction_type %}
            </div>
            <div class="col-12 col-md-2 d-flex align-items-end mb-3">
              <button type="submit" class="btn btn-primary">
                {% trans "Apply" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>{% trans "Tags" %}</h1>
      {% if not object_list %}
        <div class="alert alert-primary" role="alert">
          {% trans "No tags" %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row table-row">
    <div class="col-12">
      {% if object_list %}
        <div class="table-responsive">
          <table class="table table-striped" id="accounts">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">#</th>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Created at" %}</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for tag in object_list %}
              <tr>
                <th scope="row" class="d-none d-md-table-cell">
                  {{ forloop.counter }}
                </th>
                <td>
                  <a href="{{ tag.get_absolute_url }}">
                    {{ tag.name }}
                  </a>
                </td>
                <td>
                  {{ tag.created_at|date:"SHORT_DATETIME_FORMAT" }}
                </td>
                <td>
                  <a href="{% url 'tags:update' tag.pk %}">
                    <i class="fa fa-pencil" title="{% trans "Edit" context "verb" %}"></i>
                  </a>
                </td>
                <td>
                  <a href="{% url 'tags:delete' tag.pk %}">
                    <i class="fa fa-trash" title="{% trans "Delete" context "verb" %}"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if is_paginated %}
        {% include "base/includes/pagination.html" %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
