{% if field %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
    {% load widget_tweaks %}

    <div class="
      {% if field.field.widget.input_type == 'checkbox' %}
        form-check
      {% else %}
        form-group
      {% endif %}
    ">


      {% if field.field.widget.input_type == "checkbox" %}
        {% include "contuga/forms/includes/checkbox.html" %}
      {% else %}
        {% include "contuga/forms/includes/input.html" %}
      {% endif %}

      {% block errors %}
        {% if field.errors %}
          <small class="text-danger">
            {{ field.errors|striptags }}
          </small>
        {% endif %}
      {% endblock %}
    </div>
  {% endif %}
{% endif %}
