{% load i18n transactions %}

<table class="table">
  <tbody>
    <tr>
      <th scope="row">{% trans "Amount" %}</th>
      <td>{{ transaction.amount|floatformat:2 }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Type" %}</th>
      <td>{{ transaction.get_type_display }}</td>
    </tr>

    {% if transaction.is_part_of_transfer %}
      <tr>
        <th scope="row">{% trans "Exchanged for" %}</th>
        <td>
          {% if transaction.is_expenditure %}
            {% show_transfer_transaction transaction.income_counterpart %}
          {% else %}
            {% show_transfer_transaction transaction.expenditure_counterpart %}
          {% endif %}
        </td>
      </tr>

      <tr>
        <th scope="row">{% trans "Exchange rate" %}</th>
        <td>{{ transaction.exchange_rate|floatformat:5 }}</td>
      </tr>


    {% endif %}

    <tr>
      <th scope="row">{% trans "Account" %}</th>
      <td>
        <a href="{{ transaction.account.get_absolute_url }}">
          {{ transaction.account.name }}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Currency" %}</th>
      <td>
        <a href="{{ transaction.currency.get_absolute_url }}">
          {{ transaction.currency.name }}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Category" %}</th>
      <td>
        <a href="{{ transaction.category.get_absolute_url }}">
          {{ transaction.category.name }}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Created at" %}</th>
      <td>{{ transaction.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Updated at" %}</th>
      <td>{{ transaction.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% if transaction.description %}
      <tr>
        <th scope="row">{% trans "Description" %}</th>
        <td>{{ transaction.description }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>
