{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Accounts" %}{% endblock %}

{% block content %}
<main class="container list-page">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Accounts" %}</h1>
      {% if not object_list %}
        <div class="alert alert-primary" role="alert">
          {% trans "No accounts" %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row table-row">
    <div class="col-12">
      {% if object_list %}
        <div class="table-responsive">
          <table class="table table-striped" id="accounts">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">#</th>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Currency" %}</th>
                <th scope="col">{% trans "Balance" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for account in object_list %}
              <tr>
                <th scope="row" class="d-none d-md-table-cell">
                  {{ forloop.counter }}
                </th>
                <td>
                  <a href="{{ account.get_absolute_url }}">
                    {{ account.name }}
                  </a>
                </td>
                <td>
                  {{ account.get_currency_display }}
                </td>
                <td class="{% if account.is_balance_negative %} text-danger {% else %} text-success {% endif %}">
                  {{ account.balance|floatformat:2 }}
                </td>
                <td>
                  {% if account.is_active %}
                    {% trans "Active" %}
                  {% else %}
                    {% trans "Arhived" %}
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'accounts:update' account.pk %}">
                    <i class="fa fa-pencil" title="{% trans "Edit" context "verb" %}"></i>
                  </a>
                </td>
                <td>
                  <a href="{% url 'accounts:delete' account.pk %}">
                    <i class="fa fa-trash" title="{% trans "Delete" context "verb" %}"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if is_paginated %}
        {% include "base/includes/pagination.html" %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
