{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ account.name }}{% endblock %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>{% trans "Account details" %}</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ account.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Currency" %}</th>
            <td>{{ account.get_currency_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Balance" %}</th>
            <td>{{ account.balance|floatformat:2 }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ account.description }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Created at" %}</th>
            <td>{{ account.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Updated at" %}</th>
            <td>{{ account.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'accounts:update' account.pk %}" role="button">
        <i class="fa fa-pencil"></i> {% trans "Edit" %}
      </a>
      <a class="btn btn-danger" href="{% url 'accounts:delete' account.pk %}" role="button">
        <i class="fa fa-trash"></i> {% trans "Delete" %}
      </a>
    </div>
  </div>
</main>
{% endblock %}
