{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12" id="chartContainer">
      <h1>{% trans "Stats" %}</h1>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var reports = {{ reports | safe }};

    Object.keys(reports).forEach(function(key) {
      var title = '<h2>' + reports[key]["name"] + '</h2>';

      var barChartId = 'barChart' + key
      var barChart = '<div class="col-md-5"><canvas id="' + barChartId + '" width="300" height="200"></canvas></div>';

      var lineChartId = 'lineChart' + key
      var lineChart = '<div class="col-md-5"><canvas id="' + lineChartId + '" width="300" height="200"></canvas></div>';

      var $row = $('<div class="row">').append(barChart, lineChart)
      $('#chartContainer').append(title, $row)

      var labels = reports[key]["reports"].map((it) => `${it.month}.${it.year}`);
      var datasets = [
          {
              label: '{% trans "Income" %}',
              data: reports[key]["reports"].map((it) => it.income),
              backgroundColor:'rgba(54, 162, 235, 1)'
          },
          {
              label: '{% trans "Expenditures" %}',
              data: reports[key]["reports"].map((it) => it.expenditures),
              backgroundColor: 'rgba(255,99,132,1)'
          }
      ]

      createChart('bar', barChartId, labels, datasets, reports[key]["currency"]);

      var lineDatasets = [
          {
              label: '{% trans "Balance" %}',
              data: reports[key]["reports"].map((it) => it.balance),
              backgroundColor:'rgba(54, 162, 235, 1)'
          }
      ]

      createChart('line', lineChartId, labels, lineDatasets, reports[key]["currency"]);
    })

    function createChart(type, element, labels, datasets, currency) {
      var canvas = document.getElementById(element).getContext('2d');
      var myChart = new Chart(canvas, {
        type: type,
        data: {
          labels: labels,
          datasets: datasets,
        },
        options: {
          animation: false,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                  return `${tooltipItems.yLabel.toLocaleString()} ${currency}`;
              }
            }
          },
        }
      });
    }
  </script>

{% endblock js %}
