{% extends "base/base.html" %}
{% load i18n static widget_tweaks jsonify %}

{% block content %}
  <main class="analytics-page">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>{{ page.title|default:_("Statistics")}}</h1>
            <h2>{{ page.description|default:_("Monthly reports to help you analyze your financial performance.") }}</h2>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <section class="row form">
        <div class="col-12 col-md-11 offset-md-1">
          <form method="GET" id="filterForm">
            <div class="row">
              <div class="col-12 col-md-2">
                {% include 'contuga/forms/field.html' with field=form.report_unit %}
              </div>
              <div class="col-12 col-md-2 col-lg-2">
                {% include 'contuga/forms/field.html' with field=form.start_date|attr:'autocomplete:off' %}
              </div>
              <div class="col-12 col-md-2 col-lg-2">
                {% include 'contuga/forms/field.html' with field=form.end_date|attr:'autocomplete:off' %}
              </div>
              <div class="col-12 col-md-3">
                {% include 'contuga/forms/field.html' with field=form.category %}
              </div>
              <div class="col-12 col-md-2 d-flex align-items-end mb-3">
                <button type="submit" class="btn btn-primary">
                  {% trans "Apply" %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    {% if reports %}
      <div class="container-fluid" id="chartContainer">
      {% for report in reports %}
      <section class="row">
      <div class="col-12 col-md-11 offset-md-1">
          <div class="row"><div class="col"><h2>{{ report.name }} - {{ report.currency.name }}</h2></div></div>

          <div class="row">
            <div class="col-md-5">
              <canvas id="barChart{{ report.pk }}"></canvas>
            </div>

            <div class="col-md-5">
              <canvas id="lineChart{{ report.pk }}"></canvas>
            </div>
          </div>
        </div>
      </section>
      {% endfor %}
      </div>
    {% else %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="alert alert-primary" role="alert">
            {% trans "No data" %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </main>
{% endblock %}

{% block js %}
  {% if reports %}
    <script type="text/javascript">


      {% for report in reports %}
        (function() {
          const report = {{ report | jsonify }}
          const labels = report.reports.map((it) => {
            if (it.day) {
              return `${it.day}.${it.month}.${it.year}`
            } else {
              return `${it.month}.${it.year}`
            }
          });
          const datasets = [
              {
                  label: '{% trans "Income" %}',
                  data: report.reports.map((it) => it.income),
                  backgroundColor: '#28a745'
              },
              {
                  label: '{% trans "Expenditures" %}',
                  data: report.reports.map((it) => it.expenditures),
                  backgroundColor: '#dc3545'
              }
          ]

          createChart('bar', "barChart{{ report.pk }}", labels, datasets, report.currency.code || report.currency.name);

          {% if not form.category.value %}
            const lineDatasets = [
                {
                    label: '{% trans "Balance" %}',
                    data: report.reports.map((it) => it.balance),
                    backgroundColor: '#254c7c'
                }
            ]

            createChart('line', "lineChart{{ report.pk }}", labels, lineDatasets, report.currency.code || report.currency.name);
          {% endif %}
        })();
      {% endfor %}

        function createChart(type, element, labels, datasets, currency) {
          const canvas = document.getElementById(element).getContext('2d');
          const myChart = new Chart(canvas, {
            type: type,
            data: {
              labels: labels,
              datasets: datasets,
            },
            options: {
              animation: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              },
              tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                  label: function(tooltipItems, data) {
                      return `${tooltipItems.yLabel.toLocaleString()} ${currency}`;
                  }
                }
              },
            }
          });
        }

    </script>
  {% endif %}
  <script type="text/javascript">
    (function() {
      const flatpickrConfig = {
        locale: "bg",
        dateFormat: "d/m/Y",
      }

      flatpickr("#id_start_date", flatpickrConfig);
      flatpickr("#id_end_date", flatpickrConfig);
    })();
  </script>

{% endblock js %}

{% block css %}
  {{ block.super }}
  <style>
    header {
      background: #254c7c url("{{ page.background.url }}") bottom left / cover no-repeat;
    }
  </style>
{% endblock css %}
