{% extends "base/base.html" %}
{% load i18n static widget_tweaks %}

{% block content %}
  <main class="analytics-page">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>{{ page.title|default:_("Statistics")}}</h1>
            <h2>{{ page.description|default:_("Monthly reports to help you analyze your financial performance.") }}</h2>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <section class="row form">
        <div class="col-12 col-md-11 offset-md-1">
          <form method="GET" id="filterForm">
            <div class="row">
              <div class="col-12 col-md-2">
                {% include 'contuga/forms/field.html' with field=form.report_unit %}
              </div>
              <div class="col-12 col-md-2 col-lg-2">
                {% include 'contuga/forms/field.html' with field=form.start_date|attr:'autocomplete:off' %}
              </div>
              <div class="col-12 col-md-2 col-lg-2">
                {% include 'contuga/forms/field.html' with field=form.end_date|attr:'autocomplete:off' %}
              </div>
              <div class="col-12 col-md-3">
                {% include 'contuga/forms/field.html' with field=form.category %}
              </div>
              <div class="col-12 col-md-2 d-flex align-items-end mb-3">
                <button type="submit" class="btn btn-primary">
                  {% trans "Apply" %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    {% if reports %}
      <div class="container-fluid" id="chartContainer">
    {% else %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="alert alert-primary" role="alert">
            {% trans "No data" %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    </div>
  </main>
{% endblock %}

{% block js %}
  {% if reports %}
    <script type="text/javascript">
      jQuery(function($) {
        const accounts = {{ reports|safe }};

        for(account of accounts) {
          const title = `<div class="row"><div class="col"><h2>${account.name}</h2></div></div>`;

          const barChartId = `barChart${account.pk}`
          const barChart = `<div class="col-md-5"><canvas id="${barChartId}"></canvas></div>`;

          const lineChartId = `lineChart${account.pk}`;
          const lineChart = `<div class="col-md-5"><canvas id="${lineChartId}"></canvas></div>`;

          const $row = $('<div class="row">').append(barChart, lineChart)
          const $col = $('<div class="col-12 col-md-11 offset-md-1">').append(title, $row)
          const $section = $('<section class="row">').append($col)

          $('#chartContainer').append($section)

          const labels = account.reports.map((it) => {
            if (it.day) {
              return `${it.day}.${it.month}.${it.year}`
            } else {
              return `${it.month}.${it.year}`
            }
          });
          const datasets = [
              {
                  label: '{% trans "Income" %}',
                  data: account.reports.map((it) => it.income),
                  backgroundColor: '#28a745'
              },
              {
                  label: '{% trans "Expenditures" %}',
                  data: account.reports.map((it) => it.expenditures),
                  backgroundColor: '#dc3545'
              }
          ]

          createChart('bar', barChartId, labels, datasets, account.currency.code || account.currency.name);

          {% if not form.category.value %}
            const lineDatasets = [
                {
                    label: '{% trans "Balance" %}',
                    data: account.reports.map((it) => it.balance),
                    backgroundColor: '#254c7c'
                }
            ]

            createChart('line', lineChartId, labels, lineDatasets, account.currency.code || account.currency.name);
          {% endif %}
        }

        function createChart(type, element, labels, datasets, currency) {
          const canvas = document.getElementById(element).getContext('2d');
          const myChart = new Chart(canvas, {
            type: type,
            data: {
              labels: labels,
              datasets: datasets,
            },
            options: {
              animation: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              },
              tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                  label: function(tooltipItems, data) {
                      return `${tooltipItems.yLabel.toLocaleString()} ${currency}`;
                  }
                }
              },
            }
          });
        }
      });
    </script>
  {% endif %}
  <script type="text/javascript">
    jQuery(function($) {
      const today = moment();
      const dateRangePickerConfig = {
        singleDatePicker: true,
        autoUpdateInput: false,
        showDropdowns: true,
        ranges: {
          '{% trans "Today" %}': [today, today],
          '{% trans "Yesterday" %}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          '{% trans "Last 7 Days" %}': [moment().subtract(6, 'days'), today],
          '{% trans "Last 30 Days" %}': [moment().subtract(29, 'days'), today],
          '{% trans "This Month" %}': [moment().startOf('month'), moment().endOf('month')],
          '{% trans "Last Month" %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        alwaysShowCalendars: true,
        minDate: moment('2019-01-01'),
        maxDate: today,
        opens: "left",
        locale: {
          format: 'L',
          applyLabel: '{% trans "Apply" %}',
          cancelLabel: '{% trans "Clear" %}',
          fromLabel: '{% trans "From" %}',
          toLabel: '{% trans "To" %}',
          customRangeLabel: '{% trans "Custom" %}',
          daysOfWeek: [
            '{% trans "Su" context "Day of the week" %}',
            '{% trans "Mo" context "Day of the week" %}',
            '{% trans "Tu" context "Day of the week" %}',
            '{% trans "We" context "Day of the week" %}',
            '{% trans "Th" context "Day of the week" %}',
            '{% trans "Fr" context "Day of the week" %}',
            '{% trans "Sa" context "Day of the week" %}'
          ],
          monthNames: [
            '{% trans "January" %}',
            '{% trans "February" %}',
            '{% trans "March" %}',
            '{% trans "April" %}',
            '{% trans "May" %}',
            '{% trans "June" %}',
            '{% trans "July" %}',
            '{% trans "August" %}',
            '{% trans "September" %}',
            '{% trans "October" %}',
            '{% trans "November" %}',
            '{% trans "December" %}'
          ],
          firstDay: 1
        }
      };

      $('#id_start_date').on('apply.daterangepicker', function(event, picker) {
        const startDate = picker.startDate.format(dateRangePickerConfig.locale.format);
        $(this).val(startDate);
      });

      $('#id_start_date').on('cancel.daterangepicker', function(event, picker) {
        $(this).val('');
      });

      $('#id_start_date').daterangepicker(dateRangePickerConfig);

      $('#id_end_date').on('apply.daterangepicker', function(event, picker) {
        const startDate = picker.startDate.format(dateRangePickerConfig.locale.format);
        $(this).val(startDate);
      });

      $('#id_end_date').on('cancel.daterangepicker', function(event, picker) {
        $(this).val('');
      });

      $('#id_end_date').daterangepicker(dateRangePickerConfig);

      $("#filterForm").on('submit', function(event){
        $(this).find(":input").filter(function() {
          return !this.value;
        }).attr("disabled", "disabled");

        return true;
      });
    });
  </script>

{% endblock js %}

{% block css %}
  {{ block.super }}
  <style>
    header {
      background: #254c7c url("{{ page.background.url }}") bottom left / cover no-repeat;
    }
  </style>
{% endblock css %}
